@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@300;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .btn {
    @apply inline-flex justify-center items-center no-underline border-0 py-2 px-7 align-middle select-none rounded shadow-md font-body font-normal text-center transition hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-transparent focus:ring-offset-1;
  }

  .link {
    @apply inline-block no-underline py-0.5 px-1 rounded font-body font-normal transition-colors focus:outline-none focus:ring-0 focus:ring-offset-transparent focus:ring-offset-1;
  }

  .form-control {
    @apply block h-full w-full px-1.5 py-3 font-normal bg-white border border-solid border-gray-100 appearance-none rounded transition focus:shadow-md focus:outline-none focus:ring-2 focus:ring-offset-transparent focus:ring-offset-1;
  }

  .ps {
    @apply py-11 xs:py-12 sm:py-13 md:py-14 lg:py-15 xl:py-16;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.bg-banner {
  height: 40vh;
  min-height: 260px;
  max-height: 300px;
  width: 100%;
  background-image: linear-gradient(to top, rgb(69, 62, 153, 0.95), rgb(95, 133, 241)), url("/assets/images/wiggle.svg");
  border-bottom: 4px solid #fff;
}

.ip-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 25;
  height: 288px;
  top: -144px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@media (min-width: 1024px) {
  .bg-banner {
    height: 35vh;
  }

  .ip-info {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    margin: 0;
    height: 144px;
    top: -72px;
  }

  .ip-item {
    flex: 0 0 25%;
    height: 50%;
    padding: 0 20px;
  }

  .ip-item:not(:last-child) {
    border-right: 2px solid #cfcccc;
  }
}
